.hamburger-cont {
  display: flex;
  justify-content: flex-end;
  z-index: 10; 
  
}


.hamburger{
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  margin-top: 25px;
  margin-right: 32px;
  /* flex-flow shorthand for flex-direction and flex-wrap */
  flex-flow: column nowrap;
  
}

.burger{
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: var(--color-calypso);
  transform-origin: 1px;

  /* first value: properties to apply the  transitions to (e.g., width)*/
  /* linear: same speed from start to end */
  transition: all 0.3s linear
}

