.footer {
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 40px;
}

.text-cont{
  border: 1px solid fuchsia;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  /* width: 30%; */
}
.copyright {
  border: 1px solid gold;
  
  /* display: flex;
  justify-content: center; */


}

.copyright-msg {
  padding-left: 1em;
  text-align: center;

}