@import-normalize;

html {
  --color-turqouise: #0FBDDC;
  --color-atlantis: #A3CA3C;
  --color-calypso: #307B89;
  --color-downy: #7AD1C0;
  --color-beinspired: #4bacc6;
  --color-grey: rgb(143, 137, 137);

  --margin-outer: 3%;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  /* font-family: 'Work Sans', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100vw;

  
}

code {
  font-family: 'DM Sans', sans-serif;
}


h1, h2, h3, h4, h5, h6, p, a {
  color: var(--color-calypso)
}

a:visited {
  color: var(--color-beinspired)
}

h2{
  margin-top: 0;
  margin-bottom: 0;
}

h4, h5, h6 {
  margin-top: .25em;
  margin-bottom: .25em;
}

p {
  margin-top: 0px;
  margin-bottom: 0;
}
